{{define "alert-form"}}
  {{$alert := .Alert}}
  <form class="line-wrap-form" method="post">
    <div class="field-wrapper">
      <span>Alert me when value of</span>
      <select autofocus name="from">
        {{range .FromCurrencyList}}
          <option value="{{.ID}}"{{if eq .ID $alert.From.ID}} selected{{end}}>{{.Name}}</option>
        {{end}}
      </select>
      <span>goes</span>
      <select name="direction">
        <option value="above"{{if .Alert.Above}} selected{{end}}>↑ above</option>
        <option value="below"{{if not .Alert.Above}} selected{{end}}>↓ below</option>
      </select>
      <input name="value" class="price" type="text" pattern="^\d*(\.\d*)?$" required placeholder="0.00"{{if .Alert.Value.IsPositive}} value="{{.Alert.Value.String}}"{{end}}>
      <select name="to">
        {{range .ToCurrencyList}}
          <option value="{{.ID}}"{{if eq .ID $alert.To.ID}} selected{{end}}>{{.Name}}</option>
        {{end}}
      </select>
    </div>
    <div class="field-wrapper">
      {{if .Alert.ID}}
        <button>Update Alert</button>
        <a class="button secondary" href="/alert">Cancel</a>
      {{else}}
        <button disabled>Create Alert</button>
      {{end}}
    </div>
  </form>
{{end}}
