{{define "main"}}
  {{template "alert-form" .}}
  <table class="alert-table">
    <tbody>
      {{range .AlertList}}
        <tr>
          <td class="alert-description{{if .Sent}} sent{{end}}">
            <span class="from-currency">{{.From.Name}}</span>
            <span class="direction">{{if .Above}}≥{{else}}≤{{end}}</span>
            <span class="value">{{.Value.StringFixed 2}}</span>
            <span class="to-currency">{{.To.Name}}</span>
          </td>
          <td><a class="button" href="/alert/{{.ID}}">Update</a></td>
          <td><button class="danger" type="button" data-delete-id="{{.ID}}">Delete</a></td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{end}}
