{{define "breadcrumbs"}}
  <div class="breadcrumbs">
    <span class="crumb"><a href="/portfolio">Portfolio</a></span>
    <span class="crumb">{{.Asset.Currency.Ticker}}</span>
  </div>
{{end}}
{{define "main"}}
  <table class="portfolio-summary-table">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{.Asset.Currency.Name}}</td>
      </tr>
      <tr>
        <th>Ticker</th>
        <td>{{.Asset.Currency.Ticker}}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>{{.Asset.Amount.String}}</td>
      </tr>
      <tr>
        <th>Purchased</th>
        <td>{{.Asset.Purchased.StringFixed 2}}</td>
      </tr>
      <tr>
        <th>Value</th>
        <td>{{.Asset.Value.StringFixed 2}}</td>
      </tr>
      <tr>
        <th>Performance</th>
        <td>{{.Asset.Performance.StringFixed 2}}%</td>
      </tr>
    </tbody>
  </table>
{{end}}
