{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pricewarp</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <h1>Pricewarp</h1>
      {{if .User}}
        <nav>
          <button class="secondary" id="logout" type="button">Logout</button>
        </nav>
      {{end}}
    </header>
    <main>
      {{template "main" .}}
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
{{end}}
